/*selectoruniversal*/
*{
    padding: 0;
    margin: 0;
}

/*selectordeetiqueta*/
body{
    background-color: #ffffff;
    color: white;
}

/*selectordeid*/
#contenedor{
    width: 1050px;
    height: 1160px;
    background-color: #e6b38a;
}

#encabezado{
    width: 70%;
    background-color: #846e4e;
    margin: 3em;
    
    text-align: center;
}

#menu{
    height: 4%;
    background-color: #aa8565;
    margin: 1em;
}

ul{
    text-align: center;
    padding: 10px;
}

li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}

li a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
}

.texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding: 5px 25px;
    color: #000;

}
.texto1 {
    text-align: justify;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 5px 25px;
    color: #000;

}
.texto2 {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 5px 25px;
    color: #000;

}

.texto3 {
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 5px 25px;
    color: #000;

}


#contenido {
    height: 85%;
    width: 58%;
    background-color: #816451;
    margin: 0.5em;
    display: inline-block;
    
    text-align: center;

}

.img {
    width: 180px;
    margin-right: 10px;
    border: 1px solid rgb(131, 66, 13);

}

.encabezado-articulo{
    padding: 10px;
    text-align: center;
    background-color: rgb(0, 199, 20);
    color: rgb(255,255,255);
    margin: 1em 2em;
    border-radius: 5px;

}
#fueraSeccion{
    height: 85%;
    width: 35%;
    background-color: #88665e;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    

}
.encabezado-aside{
    padding: 5px 5px;
    text-align: center;
    
    color: white;
    margin: 1em 2em;
    
}

.menu-aside{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    
    list-style: square;
    color: #000;
}

.lista-aside{
    padding: 1px;
}

.lista-aside li {
display: flex;
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 11px;

color: #000;
}

#pie {
    height: 10px;
    background-color: #9e5c3e;
    margin: 1.5 em;
    text-align: center;
    padding: 5px;
}

#pie h4{
    padding: 15px;
    font-size: 30px;

}